<div class="text-center">
        <img src="assets/img/about.jpg" class="img-fluid">

        <div class="card col-sm-6 mx-auto border-0 rounded shadow">
                <div class="card-header border-0 bg-white">
                        <h3 class="card-title"><span>Kontakt</span></h3>
                </div>
                <div class="card-body border-0 pt-0">
                        <div class="card-text">
                                <p>Email: office@dozamitravel.com</p>
                                <p class="mb-0"><u>Phone</u></p>
                                <p> Turkey: (+90) 532-292-9698</p>
                                <span> Poland:
                                        <br>
                                <p>(+48) 883-123-079</p>
                                <p>(+48) 792-65-05-33</p>
                                </span>
                        </div>
                </div>
        </div>
</div>