.active {
  border-bottom: 2px solid;
}
.nav-item:not(.active):hover {
  border-bottom: 2px solid #000000;
}
.active:hover {
  border-bottom: none;
}
.dropdown:hover > .dropdown-menu {
  display: block;
}
.dropdown-menu {
  margin-top: -5px;
}

@media only screen and (max-width: 767px) {
  .nav-item {
    text-align: center;
  }
  .active {
    border-bottom: none;
  }
}
