.active {
  background-color: #80808017;
}
.nav-item:hover {
  background-color: #80808017;
}
.active:hover {
  border-bottom: none;
}
.dropdown:hover > .dropdown-menu {
  display: block;
}

@media only screen and (max-width: 767px) {
  .nav-item {
    text-align: center;
  }
  .active {
    border-bottom: none;
  }
}
