<div>
        <h5 class="mb-3 bg-black p-3 text-white text-center mx-auto select-option rounded">
                Wybierz Miejsca Docelowe
        </h5>
        <div class="row justify-content-md-center rounded bg-about row-div d-flex flex-row">
                <div class="col-auto">
                        <a class="btn card-country bg-white px-3 py-2" routerLinkActive="active"
                                routerLink='/turkey-offer'>
                                <svg width="1.4em" height="1.4em" viewBox="0 0 16 16" class="bi bi-geo-alt"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                                d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                </svg>
                                <span>&nbsp;Turkey</span>
                        </a>
                </div>
                <div class="col-auto">
                        <a class="btn card-country bg-white px-3 py-2" routerLinkActive="active"
                                routerLink='/armenia&georgia-offer'>
                                <svg width="1.4em" height="1.4em" viewBox="0 0 16 16" class="bi bi-geo-alt"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                                d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                </svg>
                                <span>&nbsp;Armenia & Georgia</span>
                        </a>
                </div>


        </div>
</div>
<router-outlet></router-outlet>