.carousel-caption {
  bottom: auto;
  top: 40%;
  text-align: center;
}
.carousel-caption {
  background-color: rgba(0, 0, 0, 0.37);
  padding: 10px;
  left: 5%;
  right: 5%;
}
@media only screen and (max-width: 767px) {
  .display-5 {
    font-size: 18px;
  }
  .carousel-caption {
    padding: 5px;
  }
}
