<div>
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

                <div class="carousel-inner">
                        <div class="carousel-item active">
                                <img src="assets/img/blue-mosque.jpg" class="d-block w-100">
                                <div class="carousel-caption">
                                        <h2 class="display-5 text-white text-uppercase">
                                                {{'turkeyOfferTitle.menu.heading' | translate}}
                                        </h2>
                                </div>
                        </div>
                </div>
        </div>

        <!--  -->
        <div class="container">
                <div class="mt-5">
                        <app-choose-country></app-choose-country>
                </div>
                <div class="mt-5">
                        <h5
                                class="mb-3 bg-black p-3 text-white text-center mx-auto select-option rounded text-capitalize">
                                {{'turkeyOfferTitle.menu.heading' | translate}}
                        </h5>

                        <div class="row position-relative bor-rad-10 mb-3 rounded-lg card-shadow"
                                *ngFor="let menu of 'turkey.menu'| translate">
                                <div class="col-md-6 mb-md-0 p-md-4 link-card">
                                        <img [src]="menu.img" class="w-100">
                                </div>
                                <div class="col-md-6 tanmay">
                                        <h4 class="mt-0">{{menu.day}}</h4>
                                        <p class="mb-0">{{menu.info}}</p>
                                </div>
                        </div>

                </div>
        </div>
</div>