<div>
        <img src="assets/img/about.jpg" class="img-fluid">

        <div class="card col-sm-6 mx-auto border-0 rounded shadow" *ngFor="let menu of 'aboutus.menu'| translate">
                <div class="card-header border-0 bg-white">
                        <h3 class="card-title"><span>{{menu.heading}}</span></h3>
                </div>
                <div class="card-body border-0 pt-0">
                        <p class="card-text">
                                {{menu.about}}
                        </p>
                        <p class="h5 mb-3">{{menu.partner}}</p>
                        <div class="scroll">
                                <div class="row">
                                        <div class="col-2 scroll-box">
                                                <img src="assets/img/logoplakat.png" class="img-fluid" alt="logoplakat">
                                        </div>
                                        <div class="col-2 scroll-box">
                                                <img src="assets/img/kartuzy.jpg" class="img-fluid" alt="kartuzy">
                                        </div>
                                        <div class="col-2 scroll-box">
                                                <img src="assets/img/etlogo.jpg" class="img-fluid" alt="etlogo">
                                        </div>
                                        <div class="col-2 scroll-box">
                                                <img src="assets/img/camino.jpg" class="img-fluid" alt="camino">
                                        </div>
                                        <div class="col-2 scroll-box">
                                                <img src="assets/img/panoramawroclaw.png" class="img-fluid"
                                                        alt="panoramawroclaw">
                                        </div>
                                        <div class="col-2 scroll-box">
                                                <img src="assets/img/logo_orlando.png" class="img-fluid"
                                                        alt="panoramawroclaw">
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>