<div class="container">
        <div class="mt-5">
                <app-others></app-others>
        </div>
        <div class="mt-5">
                <h5 class="mb-3 bg-black p-3 text-white text-center mx-auto select-option rounded text-capitalize">
                        {{'otherOffers4.menu.text' | translate}}
                </h5>
                <div class="row  position-relative bor-rad-10 mb-3 rounded-lg card-shadow"
                        *ngFor="let menu of 'otheroff4.menu'| translate">
                        <div class="col-md tanmay">
                                <h4 class="mt-0">{{menu.day}}</h4>
                                <p class="mb-0">{{menu.info}}</p>
                        </div>
                </div>
        </div>
</div>