.footer,
li {
  color: #5b2434;
}
.title {
  border-bottom: 1px solid;
}
span:hover {
  border-bottom: 1px solid #5b2434;
}
.footer {
  margin-top: 36px;
}

.footer-tanmay {
  display: flex;
  flex-direction: row;
}
.footer-tanmay:before,
.footer-tanmay:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid #a07783;
  margin: auto;
}
.footer-tanmay:before {
  margin-right: 10px;
}
.footer-tanmay:after {
  margin-left: 10px;
}

