<h5 class="mb-3 bg-black p-3 text-white text-center mx-auto select-option rounded">
        {{'footer2.menu.text'|translate}}
</h5>
<div class="bg-about p-2">
        <div class="row py-1 justify-content-md-center rounded row-div d-flex flex-row">
                <div class="col-auto">
                        <a class="btn card-country bg-white px-3 py-0" routerLinkActive="active"
                                routerLink='/otheroff1'>
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo-alt"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                                d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                </svg>
                                <span>&nbsp;{{'otherOffers1.menu.text' | translate }}</span>
                        </a>
                </div>
                <div class="col-auto">
                        <a class="btn card-country bg-white px-3 py-0" routerLinkActive="active"
                                routerLink='/otheroff2'>
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo-alt"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                                d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                </svg>
                                <span>&nbsp;{{'otherOffers2.menu.text' | translate }}</span>
                        </a>
                </div>
        </div>
        <div class="row py-1 justify-content-md-center rounded row-div d-flex flex-row">
                <div class="col-auto">
                        <a class="btn card-country bg-white px-3 py-0" routerLinkActive="active"
                                routerLink='/otheroff3'>
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo-alt"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                                d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                </svg>
                                <span>&nbsp;{{'otherOffers3.menu.text' | translate }}</span>
                        </a>
                </div>
        </div>
        <div class="row py-1 justify-content-md-center rounded row-div d-flex flex-row">
                <div class="col-auto">
                        <a class="btn card-country bg-white px-3 py-0" routerLinkActive="active"
                                routerLink='/otheroff4'>
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo-alt"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                                d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                </svg>
                                <span>&nbsp;{{'otherOffers4.menu.text' | translate }}</span>
                        </a>
                </div>
                <div class="col-auto">
                        <a class="btn card-country bg-white px-3 py-0" routerLinkActive="active"
                                routerLink='/otheroff5'>
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo-alt"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                                d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                </svg>
                                <span>&nbsp;{{'otherOffers5.menu.text' | translate }}</span>
                        </a>
                </div>
        </div>
        <div class="row py-1 justify-content-md-center rounded row-div d-flex flex-row">
                <div class="col-auto">
                        <a class="btn card-country bg-white px-3 py-0" routerLinkActive="active"
                                routerLink='/otheroff6'>
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo-alt"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                                d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                </svg>
                                <span>&nbsp;{{'otherOffers6.menu.text' | translate }}</span>
                        </a>
                </div>
                <div class="col-auto">
                        <a class="btn card-country bg-white px-3 py-0" routerLinkActive="active"
                                routerLink='/otheroff7'>
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo-alt"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                                d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                </svg>
                                <span>&nbsp;{{'otherOffers7.menu.text' | translate }}</span>
                        </a>
                </div>
        </div>
        <div class="row py-1 justify-content-md-center rounded row-div d-flex flex-row">
                <div class="col-auto">
                        <a class="btn card-country bg-white px-3 py-0" routerLinkActive="active"
                                routerLink='/otheroff8'>
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo-alt"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                                d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                </svg>
                                <span>&nbsp;{{'otherOffers8.menu.text' | translate }}</span>
                        </a>
                </div>
                <div class="col-auto">
                        <a class="btn card-country bg-white px-3 py-0" routerLinkActive="active"
                                routerLink='/otheroff9'>
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo-alt"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                                d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                </svg>
                                <span>&nbsp;{{'otherOffers9.menu.text' | translate }}</span>
                        </a>
                </div>
        </div>
</div>
<router-outlet></router-outlet>