<div>
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">

                <div class="carousel-inner">
                        <div class="carousel-item active">
                                <img src="assets/img/matenadaran.jpg" class="d-block w-100">
                                <div class="carousel-caption">
                                        <h2 class="display-5 text-white text-uppercase">
                                                PIELGRZYMKA DO ARMENII I GRUZJI
                                        </h2>
                                </div>
                        </div>
                </div>
        </div>

        <!--  -->
        <div class="container">
                <div class="mt-5">
                        <app-choose-country></app-choose-country>
                </div>
                <div class="mt-5">
                        <h5
                                class="mb-3 bg-black p-3 text-white text-center mx-auto select-option rounded text-capitalize">
                                pielgrzymka do armenii i gruzji
                        </h5>
                        <!-- day 1 -->
                        <div>
                                <div class="row  position-relative bor-rad-10 mb-3 rounded-lg card-shadow">
                                        <div class="col-md p-4">
                                                <h4 class="mt-0">1 dzień
                                                </h4>
                                                <p>Zbiórka uczestników na lotnisku w Gdańsku Rębiechowie. Odprawa
                                                        bagażowo-biletowa, następnie wylot do Warszawy, lądowanie
                                                        w stolicy Polski. Wylot do Erywania.
                                                </p>
                                        </div>
                                </div>
                        </div>
                        <!-- day 2 -->
                        <div class="row  position-relative bor-rad-10 mb-3 rounded-lg card-shadow">
                                <div class="col-md-6 p-4 tanmay">
                                        <h4 class="mt-0">2 dzień</h4>
                                        <p> Lądowanie w stolicy Armenii. Śniadanie. Następnie zwiedzanie Erywania z
                                                przewodnikiem miejscowym, m.in. wizyta w
                                                Matendaran – repozytorium dawnych rękopisów ormiańskich, gdzie zebranych
                                                jest ponad 15 000 manuskryptów. Przejazd
                                                malowniczą drogą przez równinę Araratu do klasztoru Khor-Virap, który
                                                położony jest najbliżej Góry Ararat na terytorium
                                                Armenii. Powrót do hotelu na obiadokolację i nocleg. Przejazd do
                                                miejscowości Eczmiadzyn, siedziby najwyższego
                                                patriarchy Kościoła Ormiańskiego. Zwiedzanie kościoła św. Rypsymy oraz
                                                kościoła Gajane. Przejazd do Zwartnoc. Jest to
                                                miejscowość położona w prowincji Armawir ok. 15 km na zachód od stolicy
                                                kraju, Erywania, słynąca z ruin katedry z VII
                                                wieku. Powrót do hotelu. Obiadokolacja i nocleg.
                                        </p>
                                </div>
                                <div class="col-md-6 mb-md-0 p-md-4 ">
                                        <img src="assets/img/matenadaran.jpg" class="w-100">
                                </div>
                        </div>
                </div>
                <!-- day 3 -->
                <div class="row  position-relative bor-rad-10 mb-3 rounded-lg card-shadow">
                        <div class="col-md-6 mb-md-0 p-md-4 ">
                                <img src="assets/img/geghard.jpg" class="w-100">
                        </div>
                        <div class="col-md p-4">
                                <h4 class="mt-0">3 dzień</h4>
                                <p>Śniadanie w hotelu i przejazd do Geghard – zwiedzanie imponującego klasztoru,
                                        składającego się z trzech świątyń i
                                        potężnego mauzoleum wykutych w skałach. Następnie przejazd do Garni, gdzie
                                        zobaczymy pogańską świątynie, jedyną taką
                                        antyczną budowlę, której pozostałości przetrwały do dnia dzisiejszego. Zwiedzimy
                                        „Świątynię Słońca” oraz zespół
                                        królewskich antycznych łaźni. Wizyta w wytwórni słynnego koniaku Ararat. Powrót
                                        do Erywania i czas wolny. Obiadokolacja
                                        i nocleg.
                                </p>
                        </div>
                </div>

                <!-- day 4-->
                <div>
                        <div class="row  position-relative bor-rad-10 mb-3 rounded-lg card-shadow">
                                <div class="col-md-6 p-4 tanmay">
                                        <h4 class="mt-0">4 dzień</h4>
                                        <p>Śniadanie i wyjazd z Erywania w stronę granicy. Przejazd do Stepancmindzie
                                                znajduje się muzeum poświęcone, pochodzącemu
                                                stąd, gruzińskiemu pisarzowi – Aleksandrowi Kazbegiemu. Przejazd
                                                fragmentem tzw. „gruzińskiej drogi wojennej” do
                                                miejscowości Kazbegi. Zwiedzanie miejscowości, następnie przejazd do
                                                Gudauri, obiadokolacja i nocleg.
                                        </p>
                                </div>
                                <div class="col-md-6 mb-md-0 p-md-4 ">
                                        <img src="assets/img/stepantsminda.jpg" class="w-100">
                                </div>
                        </div>
                </div>
                <!-- day 5 -->
                <div>
                        <div class="row  position-relative bor-rad-10 mb-3 rounded-lg card-shadow">
                                <div class="col-md-6 mb-md-0 p-md-4 ">
                                        <img src="assets/img/ananuri_fortress.jpg" class="w-100">
                                </div>
                                <div class="col-md-6 p-4 tanmay">
                                        <h4 class="mt-0">5 dzień</h4>
                                        <p>Śniadanie w hotelu i przejazd do twierdzy Ananuri, malowniczo położonej nad
                                                rzeką Aragwi. Należąca do książąt Aragwi
                                                forteca powstała w XVI w. Wizyta w katedrze Bagrati pochodzącej z XI w.
                                                Przejazd do Mcchety. Zwiedzanie pierwszej
                                                stolicy Gruzji (od III do V w.) z przepiękną katedrą Svetitskhoveli oraz
                                                położonego w pobliżu miasta klasztoru obronnego
                                                Jvari z VI w. Przejazd do Tblisi, zwiedznie, obiadokolacja i nocleg w
                                                hotelu.
                                        </p>
                                </div>
                        </div>
                </div>
                <!-- day 6 -->
                <div>
                        <div class="row position-relative bor-rad-10 mb-3 rounded-lg card-shadow">
                                <div class="col-md-6 p-4 tanmay">
                                        <h4 class="mt-0">6 dzień</h4>
                                        <p>
                                                Śniadanie w hotelu, następnie zwiedzanie Tbilisi z przewodnikiem
                                                miejscowym, m.in. Stare Miasto, twierdza Narikala,
                                                cerkiew Metechi, katedra Sioni z krzyżem św. Nino, pomnik Kartlis Deda –
                                                strażniczki Tbilisi, Saczino - pałac królowej
                                                Daredżan. Wizyta w Muzeum Narodowym. Czas wolny. Powrót do hotelu na
                                                obiadokolację i nocleg.
                                        </p>
                                </div>
                                <div class="col-md-6 mb-md-0 p-md-4 ">
                                        <img src="assets/img/tbilisi.jpg" class="w-100">
                                </div>
                        </div>
                </div>
                <!-- day 7 -->
                <div>
                        <div class="row  position-relative bor-rad-10 mb-3 rounded-lg card-shadow">
                                <div class="col-md-6 mb-md-0 p-md-4 ">
                                        <img src="assets/img/telavi.jpg" class="w-100">
                                </div>
                                <div class="col-md p-4 tanmay">
                                        <h4 class="mt-0">7 dzień</h4>
                                        <p>Śniadanie w hotelu, przejazd do Kachtii – obszaru we wschodniej Gruzji ze
                                                stolicą w Telawi. Na północy graniczy z Rosją,
                                                na południu i wschodzie z Azerbejdżanem oraz na zachodzie z regionami
                                                Dolna Kartliai Mccheta-Mtianetia. Zwiedzanie
                                                monastyru Alaverdi - zbudowany w XI w, w okresie zjednoczenia i
                                                powstania mocnego feudalnego państwa, był najbardziej
                                                znaczącą świątynią w całej Kachetii oraz degustacja wina. Przejazd do
                                                Sighnaghi – miejscowości słynącej z produkcji wina
                                                i dywanów. Degustacja wina. Powrót do Tblisi, obiadokolacja i nocleg.
                                        </p>
                                </div>
                        </div>
                </div>
                <!-- day 8 -->
                <div>
                        <div class="row  position-relative bor-rad-10 mb-3 rounded-lg card-shadow">
                                <div class="col-md-6 p-4 tanmay">
                                        <h4 class="mt-0">8 dzień</h4>
                                        <p>Śniadanie w hotelu i następnie przejazd w kierunku Borjomi, do gruzińskiego
                                                Parku Narodowego, jednego z największych w
                                                Europie. Przejazd do miejscowości Wardzia. Znajduje się tu skalne miasto
                                                ze „Złotego Wieku” Gruzji, zbudowane w XII w.
                                                przez króla Jerzego III. Największe z trzech istniejących miast skalnych
                                                Gruzji, gdzie do dzisiaj w części mieszkają
                                                mnisi. Następnie zwiedzanie twierdzy Chertwisi. Wyjazd do Batumi.
                                                Obiadokolacja i nocleg.
                                        </p>
                                </div>
                                <div class="col-md-6 mb-md-0 p-md-4 ">
                                        <img src="assets/img/borjomi.jpg" class="w-100">
                                </div>
                        </div>
                </div>
                <!-- day 9 -->
                <div>
                        <div class="row  position-relative bor-rad-10 mb-3 rounded-lg card-shadow">
                                <div class="col-md-6 mb-md-0 p-md-4 ">
                                        <img src="assets/img/batumi.jpg" class="w-100">
                                </div>
                                <div class="col-md-6 p-4 tanmay">
                                        <h4 class="mt-0">9 dzień</h4>
                                        <p>Śniadanie w hotelu i zwiedzanie Batumi – miasto w południowo-zachodniej
                                                Gruzji, na wybrzeżu Morza Czarnego oraz jego
                                                okolic. Zwiedzanie Ogrodu Botanicznego oraz pól herbaty. Wieczorem
                                                powrót do hotelu, obiadokolacja i obiad.
                                        </p>
                                </div>

                        </div>
                </div>
                <!-- day 10 -->
                <div>
                        <div class="row  position-relative bor-rad-10 mb-3 rounded-lg card-shadow">
                                <div class="col-md p-4 tanmay">
                                        <h4 class="mt-0">10 dzień</h4>
                                        <p>Śniadanie w hotelu i czas wolny w Batumi. Wieczorem powrót do hotelu,
                                                obiadokolacja i obiad.
                                        </p>
                                </div>
                        </div>
                </div>
                <!-- day 11 -->
                <div>
                        <div class="row  position-relative bor-rad-10 mb-3 rounded-lg card-shadow">
                                <div class="col-md p-4 tanmay">
                                        <h4 class="mt-0">11 dzień</h4>
                                        <p>Śniadanie w hotelu i do godziny 14.00 czas wolny. Następnie przejazd do
                                                Tblisi, po drodze krótkie zwiedzanie Kutaisi.
                                                Wieczorem noc gruzińska, pół nocy w hotelu i wyjazd na lotnisko.
                                        </p>
                                </div>
                                <div class="col-md-6 mb-md-0 p-md-4 ">
                                        <img src="assets/img/kutaisi.jpg" class="w-100">
                                </div>
                        </div>
                </div>
                <!-- day 12 -->
                <div>
                        <div class="row  position-relative bor-rad-10 mb-3 rounded-lg card-shadow">
                                <div class="col-md p-4 tanmay">
                                        <h4 class="mt-0">12 dzień</h4>
                                        <p>Transfer na lotnisko w Tbilisi. Odprawa biletowo-bagażowa i wylot do
                                                Warszawy. Lądowanie w Warszawie. Wylot do Gdańska.
                                                Lądowanie w Gdańsku. Zakończenie pielgrzymki.
                                        </p>
                                </div>
                        </div>
                </div>
        </div>
</div>