<div class="font-raleway">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                        <div class="carousel-item active">
                                <img src="assets/img/img1.jpg" class="d-block w-100">
                        </div>
                        <div class="carousel-item">
                                <img src="assets/img/img2.jpg" class="d-block w-100">
                        </div>
                        <div class="carousel-item">
                                <img src="assets/img/img3.jpg" class="d-block w-100">
                        </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                </a>
        </div>
        <!--  -->
        <div class="container">
                <!--Select your Destination-->
                <div class="mt-5">
                        <app-choose-country></app-choose-country>
                </div>
                <!-- about Turkey -->
                <div class="mt-5">
                        <h3>O Turcji</h3>
                        <p>
                                Niewiele krajów na świecie ppodlegało tak wielu przemianom jak Turcja, będąca
                                historycznym mostem między Wschodem a
                                Zachodem, Europą a Azją. Prawie każdy naród zamieszkujący kiedyś te tereny pozostawił po
                                sobie jakies ślady - Od Akadów,
                                poprzez Asyryjczyków, Hetytów i Greków, Rzymian Aleksandra Wielkiego i czasów
                                Bizantyjskich, po Turków Osmańskich.

                                Dzisiejsza Turcja jest w dużym stopniu dziełem Kamela Ataturka - Ojca Turków, którego
                                siła i osobowość pozwoliły na jej
                                europeizację.

                                Kulturalne i historyczne bogactwo Turcji to przede wszystkim meczety, kościoły i
                                podziemne miasta chrześcijańskie,
                                stanowiska archeologiczne oraz pozostałości miast starożytnych. Ponadto kraj ten jest
                                bardzo bogaty w różnego rodzaju
                                krajobrazy oraz atrakcje przyrodnicze. Przemierzając Turcję można podziwiać wspaniałe
                                plaże, wodospady, ogromne jeziora,
                                łańcuchy górskie bogate w zieleń oraz te całkiem kamienne. Prawdziwym skarbem Turcji
                                jest Kapadocja - kraina bajkowych
                                kamiennych kominów - pozostałość powulkaniczna. Innych zachwycą białe tarasy z
                                trawertynu w Pamukkale, zabytek wpisany
                                na listę UNESCO.

                                Turcja jest miejscem bardzo atrakcyjnym nie tylko latem! Mało kto wie, że zimą w Turcji
                                działa wiele ośrodkó
                                narciarskich, a w niektórych miejscach temperatura zimą jest niższa niż w Polsce
                        </p>
                </div>
                <!--Most Popullar Attraction-->
                <div class="mt-5">
                        <h5 class="mb-3 bg-black p-3 text-white text-center mx-auto select-option rounded">
                                Najpopularniejsze Atrakcje</h5>
                        <div class="row shadow position-relative bor-rad-10 mb-3">
                                <div class="col-md-6 mb-md-0 p-md-4 ">
                                        <img src="assets/img/ephesus.jpg" class="w-100">
                                </div>
                                <div class="col-md-6 p-4">
                                        <h4 class="mt-0">Ephesus</h4>
                                        <p>Ephesus (Ancient Greek: Ἔφεσος Efesos; Turkish: Efes; may ultimately
                                                derive
                                                from Hittite Apasa) was an
                                                ancient Greek city on the coast of Ionia, three kilometres
                                                southwest of present-day Selçuk in İzmir Province,
                                                Turkey. It was built in the 10th century BC on the site of the
                                                former
                                                Arzawan capital by Attic and Ionian Greek
                                                colonists. During the Classical Greek era it was one of the
                                                twelve
                                                cities of the Ionian League. The city flourished
                                                after it came under the control of the Roman Republic in 129 BC.
                                        </p>
                                        <a href="https://en.wikipedia.org/wiki/Ephesus" class="stretched-link"
                                                target="_blank">Read More...</a>
                                </div>
                        </div>
                        <div class="row shadow position-relative bor-rad-10">
                                <div class="col-md-6 p-4 tanmay">
                                        <h4 class="mt-0">HZ. Dom Marii Panny</h4>
                                        <p>Dom Marii Panny znajduje się 9 km od Selcuk. W oddali znajduje się na górze
                                                Bülbül. 4 lub 6 lat po śmierci Jezusa św.
                                                Wiadomo, że Jan przyniósł Dziewicę Maryję do Efezu. W 1891 r. Kapłani
                                                Lazarist odkryli, że domem, w którym Dziewica
                                                Maryja spędziła ostatnie dni, na marzeniu niemieckiej zakonnicy A.
                                                Catherine Emmerick był ten dom. To wydarzenie było
                                                zupełnie nowym wynalazkiem w świecie chrześcijańskim i rzuciło światło
                                                na świat religii. Ten planowany na krzyż budynek
                                                z kopułą został później przywrócony. Po wizycie papieża Pawła w 1967 r.
                                                Dom jest uważany przez muzułmanów za święte
                                                miejsce.
                                        </p>
                                        <a href="https://www.hzmeryemanaevi.com" class="stretched-link"
                                                target="_blank">Read More...</a>
                                </div>
                                <div class="col-md-6 mb-md-0 p-md-4 ">
                                        <img src="assets/img/meryem.jpg" class="w-100">
                                </div>
                        </div>
                </div>

                <!--Other Attraction-->
                <div class="mt-5">
                        <h5 class="mb-3 bg-black p-3 text-white text-center mx-auto select-option rounded">
                                Inne Atrakcje</h5>
                        <div class="row row-cols-1 row-cols-md-3 g-4 mt-2">
                                <div class="col" *ngFor="let attraction of attractions">
                                        <div class="card h-100 border-0 shadow">
                                                <img src="{{attraction.img}}" class="card-img-top" width="100"
                                                        height="300">
                                                <div class="card-body border-0">
                                                        <h5 class="card-title">{{attraction.title}}</h5>
                                                        <p class="card-text">{{attraction.info}}
                                                                <a href={{attraction.link}} target="_blank">Czytaj
                                                                        więcej</a>
                                                        </p>
                                                </div>
                                        </div>
                                </div>
                        </div>
                </div>
        </div>
</div>